body{
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #8db580;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}
ol{
    padding: 5px;
}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
a{
    text-decoration-line: none;
    color: #110133;
    padding: 12px 14px;
    border-radius: 0.5em;
}
.osobe{
    background-color: #4dd599;
    color: #110133;
    box-shadow: 5px 5px 5px #110133;
}
.logo{
    position: relative;
    top: -2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}
main{
    background-color: #8db580;
    color: #110133;
    font-weight: bold;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-collapse: collapse;
}
td{
    background-color: white;
    color: #110133;
    text-align: center;
    border: 2px solid #110133;
    width: 200px;
}
#header{
    text-align: center;
    background-color: #4dd599;
    color: #110133;
    border: 2px solid #110133;
    width: 200px;
}


