body{
    background-color:lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #8db580;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1080px;
}
.sakrij{
    display: none;
}
.sadrzaj{
    background-color: #8db580;
}
.logo{
    position: relative;
    top: -2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}
ol{
    padding: 5px;
}

li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
a{
    text-decoration-line: none;
    color: #110133;
    padding: 12px 14px;
    border-radius: 0.5em;
}
main{
    background-color: #8db580;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 1080px;
    margin: 0 auto;
}
div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 1em;
}
.pocetna{
    background-color: #4dd599;
    color: #110133;
    box-shadow: 5px 5px 5px #110133;
}
#sljedeci{
    border-radius: 0.5em;
    background-color: #4dd599;
    color:#110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding:5px ;
    margin: 5px;
}
#prethodni{
    border-radius: 0.5em;
    background-color: #4dd599;
    color:#110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding:5px ;
    margin: 5px;
}
@media screen and (max-width:600px){
    img{
        width: 250px;
        height: 150px;
    }
    ol>li{
        display: block;
    }
    .pocetna{
        width: 90%;
        display: inline-block;
    }
    a{
        border-radius: 0.5em;
    }
}
@media screen and (max-width:800px){
    img{
        width: 250px;
        height: 150px;
    }
}