body{
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #8db580;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}
ol{
    padding: 5px;
}
main>ul>li{
    display: block;
}
label{
    display: inline-block;
    width: 200px;
    margin: unset;
}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
input,select{
    margin: unset;
}
.sala{
    background-color: #ffffff;
}
a{
    text-decoration-line: none;
    color: #110133;
    padding: 12px 14px;
    border-radius: 0.5em;
}
.rezervacija{
    background-color: #4dd599;
    color: #110133;
    box-shadow: 5px 5px 5px #110133;
}
.logo{
    position: relative;
    top: -2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}
main{
    background-color: #8db580;
    color: #110133;
    font-weight: bold;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
table{
    border: none;
    border-spacing: 0.5em;
}
td{
    width: 40px;
    height: 40px;
    text-align: center;
}
tr:first-of-type>td:first-of-type{
    text-align: left;
}
.zauzeta{
    background-color: orangered;
}
.slobodna{
    background-color: greenyellow;
}
.prethodni{
    border-radius: 0.5em;
    background-color: #4dd599;
    color:#110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-right:5px ;
    margin-bottom: 5px;
}
.sljedeci{
    border-radius: 0.5em;
    background-color: #4dd599;
    color: #110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 200px ;
    margin-bottom: 5px;
}
button{
    
    border-radius: 0.5em;
    background-color: #4dd599;
    color:#110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
@media screen and (max-width:600px){
    a{
        border-radius: 0.5em;
    }
    img{
        width: 250px;
    }
    ol>li{
        display: block;
    }
    ul{
        padding: unset;
    }
    .rezervacija{
        width: 90%;
        display: inline-block;
    }
    tr:not(.sedmica){
        display: none;
    }
    .sedmica{
        display: inline-grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 0.5em;
    }
    .sljedeci{
        margin-left: 100px;
    }
    
}