
body{
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #8db580;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-collapse: collapse;
}
tr:first-of-type>td:first-of-type{
    border: 0px solid #8db580;
}
td{
    width: 40px;
    height: 40px;
    text-align: center;
}
td:last-of-type{
    width:70px;
}

.headerRedni{
    width: 70px;
    text-align: center;
    background-color: #4dd599;
    color: #110133;
    border: 2px solid #110133;
}
.headerSprat{
    background-color: #4dd599;
    text-align: center;
    color: #110133;
    border: 2px solid #110133;
}
.sadrzaj{
    background-color:#8db580;    
    max-width: 1080px;
    margin: 0 auto;
}
ol{
    padding: 5px;

}
a{
    text-decoration-line: none;
    color: #110133;
    border-radius: 0.5em;
    padding: 12px 14px;
}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo{
    position: relative;
    top: -2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}
.sala{
    background-color: white;
    border:2px solid #110133;

}
.zauzetaSala{
    background-color: orangered;
}
.slobodnaSala{
    background-color:greenyellow;
}
.kancelarija{
    background-color: grey;
}
.sale{
    background-color: #4dd599;
    color: #110133;
    box-shadow: 5px 5px 5px #110133;
}
@media screen and (max-width:600px){
    img{
        width: 250px;
    }
    ol>li{
        display: block;
    }
    .sale{
        width: 90%;
        display: inline-block;

    }
    .headerRedni{
        display: none;
    }
    .headerSprat{
        display: none;
    }
    a{
        border-radius: 0.5em;
    }

}
