body{
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color:#8db580;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}
.sadrzaj{
    background-color: #8db580;
}
.logo{
    position: relative;
    top: -2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
}
ol{
    padding: 5px;
}
input[name="unos"]{
    border-radius: 0.5em;
    background-color: #4dd599;
    color:#110133;
    width: 80px;
    height: 40px;
    border: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
li{
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
label{
    display: inline-block;
    width: 200px;
}
form> ul > li{
    display: block;
}
main{
    max-width: 1080px;
    margin: 0 auto;
}
a{
    text-decoration-line: none;
    border-radius: 0.5em;
    color: #110133;
    padding: 12px 14px;
}
form{
    color: #110133;
    font-weight: bold;
}
.unos{
    background-color: #4dd599;
    color: #110133;
    box-shadow: 5px 5px 5px #110133;;
}
@media screen and (max-width:800px){
    img{
        width: 250px;
    }
    
}
@media screen and (max-width:600px){
    label{
        display: block;
    }
    ol>li{
        display: block;
    }
    .unos{
        width: 90%;
        display: inline-block;
    }
    a{
        border-radius: 0.5em;
    }
}